/* Contenedor principal de la app (usado en App.jsx como .container) */
.container {
  width: 100%;
  height: 100%;
  flex: 1;
  padding: 0; /* Eliminamos padding general para evitar que desborde */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Muy importante: no scroll externo */
}

/* Menú de navegación */
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 10px;
  width: 50%;
}

nav ul li {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
  color: #edf3f5;
  align-items: center;
}

nav ul li a span {
  margin-left: 15px;
  color: #edf3f5;
}

/* Responsive para pantallas chicas */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }

  nav ul li {
    justify-content: center;
    font-size: 18px;
  }
}

