/* Archivo: global.css */
/* Estilos base y variables */

:root {
  --primary-color: #0e3d4b;
  --highlight-color: #A5DBDC;
  --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Reset completo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
html, body, #root {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Esto evita el scroll general */
  font-family: var(--font);
  background-color: #edf3f5;
  color: #0e3d4b;
  line-height: 1.5;
}

/* Enlaces limpios */
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

/* Párrafos */
p {
  margin-bottom: 1rem;
}

/* Listas */
ul {
  padding-left: 1.5rem;
}

/* Utilidades */
.text-center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

/* Media queries */
@media (max-width: 768px) {
  body {
    font-size: 15px;
  }
}
