

/* Contenedor principal del menú lateral */
.menu-container {
  position: fixed;
  top: 60px;
  left: 0;
  width: 250px;
  max-width: 90vw;
  height: 100vh;
  background-color: #0e3d4b; /* Azul institucional */
  transform: translateX(-100%); /* Oculto por defecto */
  transition: transform 0.3s ease-in-out;
  z-index: 999; /* Sobre todo */
  border-radius: 0 2px 0 0;
  padding-top: 1rem;
  }

/* Menú abierto */
.menu-container.open {
  transform: translateX(0);
  box-shadow: 0px 8px 13px #00000028, -8px -8px 10px #85828217; /* Sombra para destacar */
}

/* Lista de ítems */
.menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
  gap: 1rem;
}

/* Cada ítem del menú */
.menu-item {
  display: flex;
  align-items: center;
  font-weight: bold;

}

/* Enlaces del menú */
.menu-item a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff; /* Color claro para contraste */
  text-decoration: none;
  font-size: 1rem;


  padding: 0.8rem 1.2rem;        /* más área de clic y fondo */
  border-radius: 8px;            /* bordes redondeados */
  width: 220px;                   /* ocupar todo el ancho del menú */
  box-sizing: border-box;
  transition: background-color 0.2s ease;
}

/* Al pasar el mouse: fondo azul más claro o translúcido */
.menu-item a:hover {
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.1);

}

/* Íconos del menú */
.menu-img {
  width: 28px;
  height: 28px;
}

/* Nombre de usuario al final */
.menu-user {
  font-weight: 300;
  font-size: 14px;
  margin-top: 1rem;
  margin-left: 1rem;
  color: #edf3f5;
  text-decoration: none;
  display: flex;
}
  .menu-logout {
font-weight: 3000;
  font-size: 14px;
  margin-top: 1rem;
  margin-left: 1rem;
  color: #edf3f5;
  text-decoration: none;
  display: flex;
  }