.controles-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: flex-start;
	gap: 5%;
}

.card-control {
	display: flex;
	background-color: #52a7cc;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border-radius: 10px;

	justify-content: center;
	align-items: center;
	width: 19rem;
	height: 3rem;
}

/* #52a7cc */

.add-button-qr {
    position: fixed;
    bottom: 10%;
    right: 10%;

    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    background-color: #0a0078;
    color: white;
    font-size: 40px;
}

.fliter-bar {
margin-top: 10%;
}