

.scroll-container {
    display: flex;
    overflow-x: auto; /* Desplazamiento horizontal */
    gap: 16px; /* Separación entre tarjetas */
    scroll-snap-type: x mandatory; /* Permite un scroll más suave */
    padding: 10px;
  }
  
  .card {
    
    min-width: 250px; /* Ancho de la tarjeta */
    height: 150px; /* Altura de la tarjeta */
    background-color: #242438; /* Color de fondo */
    border: 1px solid #ffffff;
    border-radius: 8px; /* Bordes redondeados */
    flex-shrink: 0; /* Evita que las tarjetas se reduzcan */
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    scroll-snap-align: start; /* Ajusta la tarjeta al scroll */
  }

  .id {
    background-color: red;
    
  }

  .ubicacion {
    background-color: blueviolet;
  }

  .tipo {
    background-color: green;
  }

  .capacidad {
    background-color: orangered;
  }

  .recarga-cada {
    background-color: yellow;
  }

  .ultima-recarga {
    background-color: lime;
  }

  .fecha-vencimiento {
    background-color: saddlebrown;
  }

  .tiempo-faltante {
    background-color: maroon;
  }