.cliente-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10%;
	flex-direction: column;
}

.client-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    margin-top: 10%;
    margin-bottom: -5%;
    background-color: #52a7cc;
    width: 18rem;
    height: 5rem;
    border-radius: 10px;
    padding-left: 15px;
    color: white;
}
.client-card p {
    font-size: 18px;
    margin-left: 10px;
}

.client-card img {
    margin-left: -5px;
    height: 56px;
    width: 58px;
    border-radius: 50%;
}
.client-card button {
    visibility: hidden;
}



.client-card.open {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    margin-top: 20rem;
    margin-bottom: -5%;
    background-color: #52a7cc;
    width: 18rem;
    height: 35rem;
    border-radius: 10px;
    padding-left: 15px;
    color: white;    
}
.client-card.open img {
    margin-left: -5px;
    margin-top: 12px;
    height: 56px;
    width: 58px;
    border-radius: 50%;
}
.client-card.open p {
    font-size: 18px;
    margin-left: 10px;
    margin-top: 26.5px;
}
.client-card.open button {
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    top: 37rem;
    padding: 30px;
    visibility: visible;
    position: fixed;
    background-size: 35px 35px !important;
    background-repeat: no-repeat;
    background-position: center;  
}
.button1 {
    left: 13%;
    background-image:url("/src/img/control.png");
}

.button2 {
    left: 32%;
    background-image:url("/src/img/extintor.png");
}
.button3 {
    left: 51%;
    background-image:url("/src/img/informe2.png");
}
.button4 {
    left: 70%;
    background-image:url("/src/img/incidencia.png");
}






.form-cliente {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 15%;
}

.form-cliente input {
	width: 15rem;
	margin-top: 3%;
}

.form-cliente button {
	margin-top: 15%;
	width: 6rem;
	height: 2rem;
	border-radius: 10%;
	border: none;
	background-color: #0a0078;
	color: white;
	font-size: 14px;
}
