.cliente-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10%;
	flex-direction: column;
}


.form-cliente {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 15%;
}

.form-cliente input {
	width: 15rem;
	margin-top: 5%;
}

.form-cliente button {
	margin-top: 15%;
	width: 6rem;
	height: 2rem;
	border-radius: 10%;
	border: none;
	background-color: #0a0078;
	color: white;
	font-size: 14px;
}
