/* ----------------------------
   Archivo: global.css
   Propósito: Estilos base y variables para toda la app
   ---------------------------- */
:root {
  --primary-color: #213468;
  --highlight-color: #52a7cc;
  --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font);
  background-color: #ffffff;
  color: #04003d;
}

a {
  text-decoration: none;
  color: inherit;
}
