.home-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10%;
	flex-direction: column;
}

.home-card {
	display: flex;
	align-items: center;
	justify-content: center;

	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	margin-top: 10%;
	background-color: #52a7cc;
	width: 18rem;
	height: 22rem;
	border-radius: 10px;
}

.home-card ul {
	list-style: none;
	flex-direction: column;
	text-align: left;
}
.home-card ul li {
	margin-top: 40px;
	margin-bottom: 40px;
}

.home-list {
	padding: 0;
}
