/* Contenedor general de la página */
.add-client-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #e0e6e7;
    height: 100vh;
    padding-top: 4rem;
    overflow: hidden;
}

/* Tarjeta del formulario */
.add-client-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    width: 19rem;
    height: auto;
    min-height: 32rem;
    border-radius: 25px;
    padding: 2rem;
    color: #0e3d4b;
    gap: 1rem;
    box-shadow: 8px 8px 13px #00000027, -8px -8px 13px #ffffff;
}

.header-form {
    background-color: #0e3d4b;
    color: #ffffff;
    padding: 1.1rem 1.5rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.05rem;
    text-transform: uppercase;
    margin: -2rem -2rem 1rem -2rem;
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.add-client-card input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #0e3d4b;
    color: #0e3d4b;
    font-size: 16px;
    width: 100%;
    outline: none;
    padding: 0.3rem 0;
}

.add-client-card input::placeholder {
    color: #000000de;
}

.add-phone-btn {
    align-self: flex-start;
    background-color: #166279;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 6px 0;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-left: 0.1px;
    width: 48%;
}

.add-phone-btn:hover {
    background-color: #0e3d4b;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.form-buttons button {
    width: 48%;
    padding: 6px 0;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.form-buttons .cancelar {
    background-color: #d9534f;
    color: #ffffff;
}

.form-buttons .cancelar:hover {
    background-color: #c9302c;
}

.form-buttons .aceptar {
    background-color: #166279;
    color: #ffffff;
}

.form-buttons .aceptar:hover {
    background-color: #0e3d4b;
}

@media (max-width: 400px) {
.add-client-card {
    width: 90%;
    padding: 1.2rem;
    min-height: auto;
    gap: 1rem;
    }

.add-client-card input {
    font-size: 15px;
    }

.add-phone-btn {
    font-size: 13px;
    padding: 5px 10px;
    }

.form-buttons button {
    font-size: 14px;
    padding: 7px 0;
    }
}

