.client-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.client-page {
    width: 100%;
    height: 100%;
    background-color: #e0e6e7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scroll-list__wrp {
    width: 100%;
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 160px);
    margin-top: 0;
    margin-bottom: 130px;
    position: relative;
    /* NECESARIO para los pseudo-elementos */
    scrollbar-width: none;
}

.input-search-client {
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    font-size: 16px;
    outline: none;
}

/* Tarjeta cerrada */
/*.client-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0.5rem 0;
    background-color: #145366;
    width: 18rem;
    height: 5rem;
    border-radius: 10px;
    padding-left: 15px;
    color: #0e3d4b;
}

/*.client-card.closed img {
    height: 56px;
    width: 58px;
    border-radius: 0.8rem;
    margin-left: -5px;
}

/*.client-card.closed p {
    font-size: 18px;
    margin-left: 10px;
}

/*.client-card button {
    visibility: hidden;
}



/*.client-card.open img {
    margin-top: 1px;
}

/*.client-card.open button {
    width: 50px;
    height: 50px;
    border: 2px solid #30636d;
    border-radius: 50%;
    background-color: transparent;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
    visibility: visible;
    padding: 0;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

/* Efecto hover */
/*.client-card.open button:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.1);
}

/* Efecto clic */
/*.client-card.open button:active {
    transform: scale(0.95);
    background-color: rgba(0, 0, 0, 0.2);
}

/* Iconos de acción */
/*.button1 {
    background-image: url("/src/img/control.png");
}

/*.button2 {
    background-image: url("/src/img/extintor.png");
}

/*.button3 {
    background-image: url("/src/img/incidencias_3D.png");
}

/*.button4 {
    background-image: url("/src/img/informe2.png");
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    margin-bottom: 0;
}

/* Formulario */
.form-cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
}

.form-cliente input {
    width: 15rem;
    margin-top: 3%;
}

.form-cliente button {
    margin-top: 15%;
    width: 6rem;
    height: 2rem;
    border-radius: 10%;
    border: none;
    background-color: #ffffff;
    color: #0e3d4b;
    font-size: 14px;
}

/* INFO cliente (arriba de la card): ícono + nombre en renglón */
/*.client-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
    padding-top: 0;
}

/* Imagen del logo */
/*.client-info img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


/* Datos secundarios (dirección y teléfono) */

/*.client-data {
    font-size: 14px;
    color: #0e3d4b;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-wrapper-client {
    position: relative;
    display: flex;
    align-items: center;
}

.card-checkbox-derecha {
    position: absolute;
    right: -28px;
    top: 50%;
    transform: translateY(-50%) scale(1);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #0e3d4b;
    background-color: #e0e6e7;
    appearance: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

.card-checkbox-derecha:checked {
    background-color: #0e3d4b;
    content: "✔";
}

.card-checkbox-derecha:checked::before {
    content: "✔";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
}



.btn-eliminar-multiple:hover {
    background-color: #c9302c;
    transform: translateX(-50%) scale(1.05);
}

.btn-eliminar-multiple:active {
    background-color: #ac2925;
    transform: translateX(-50%) scale(0.98);
}









/* TARJETA CERRADA (versión compacta) */
.client-card.closed {
    width: 18.2rem;
    height: 6rem;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 8px 8px 13px #00000027, -8px -8px 13px #85828227;
    overflow: hidden;
    margin: 0.5rem 0;
}

.header-closed {
    background-color: #0e3d4b;
    color: #ffffff;
    display: grid;
    grid-template-columns: 15% 85%;
    width: 100%;
    height: 2.4rem;
    align-items: center;
}


.header-closed h3 {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0 0 0.5px #00000060;
    margin: 0;
    text-align: center;

}

.header-closed h4 {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0 0 0.5px #00000060;
    margin: 0;
    text-align: center;
}

.client-info-closed {
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon-background-closed {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 1rem;
    background-color: #cee9f5;
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
    margin-left: 0.2rem;

}

.icon-background-closed img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.client-title-closed {
    width: 5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    margin-left: 0.8rem;
}

.client-title-closed p {
    font-size: 0.8rem;
    font-weight: bold;
    color: #0e3d4b;
    text-shadow: 0 0 0.5px #00000060;
    margin: 0;
}

.client-status-closed {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #16576b;
    width: 9rem;
    height: 2.4rem;
    border-radius: 1.375rem;
    margin-top: 0.6rem;
    margin-right: 0.3rem;
}

.client-status-closed.vencido {
    background-color: #d9534f;
}

.client-status-closed.proximo {
    background-color: #fad84f;
}

.client-status-closed h5 {
    font-size: 0.8rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin: 0;
    text-shadow: 0 0 0.5px #00000090;
}










/* Tarjeta abierta */
.client-card.open {
    width: 18.2rem;
    height: 24rem;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 1.5rem;
    box-shadow: 8px 8px 13px #00000027, -8px -8px 13px #85828227;
    overflow: hidden;
}

/* Header */
.client-header {
    background-color: #0e3d4b;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.6rem;
    padding-left: 0.8rem;
    text-shadow: 0 0 0.5px #00000030;
    height: 2.8rem;
}

.titulo-header {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #ffffff;
    text-shadow: 0 0 0.5px #00000060;
}

.acciones {
    display: flex;
    gap: 0.1rem;
}

.btn-header {
    background-color: transparent;
    border: 0.1rem solid #ffffff;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0.18rem;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    overflow: hidden;
}

.btn-header:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.226);
}

.btn-header:active {
    outline: none;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.3);
    /* efecto redondo suave opcional */
    border-radius: 50%;
}

.btn-header {
    overflow: hidden;
    /* ← evita contenido cuadrado */
    -webkit-tap-highlight-color: transparent;
    /* ← elimina el highlight gris o azul de Android */
    touch-action: manipulation;
    /* ← mejora respuesta táctil */
}

.btn-icon {
    width: 1.4rem;
    height: 1.4rem;
    object-fit: contain;
    background-color: transparent;
    padding: 0;
    box-shadow: none;

}

/* Cuerpo */
.client-body {
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 0;
}

/* Icono + título */
.icono-client-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
}

.fondo-icono {
    position: relative;
    background-color: #cee9f5;
    border-radius: 1rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
}

.icono-extintor {
    width: 120%;
    height: auto;
    object-fit: contain;
    transform: translateX(-0.5rem);
}

.capacidad-inside {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-52%, -48%);
    font-size: clamp(0.4rem, 2.7vw, 0.8rem);
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    color: #ffffff;
    justify-content: center;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    text-shadow: 0 0 0.5px #00000030;
    pointer-events: none;
}

.titulo-client {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    align-items: start;
    padding-right: 1rem;
}

.titulo-client h4 {
    margin: 0;
    font-size: 1rem;
    color: #0e3d4b;
}

.titulo-client h5 {
    margin: 0;
    font-size: 1rem;
    color: #0e3d4bdc;
    text-shadow: 0 0 0.5px #09ff0065;
}

.hr-container {
    padding: 0 0.9rem;
}

.hr-container hr {
    border: none;
    border-top: 0.05rem solid #0e3d4b;
}


/* Línea divisoria */
hr {
    border: none;
    margin: -0.1rem;
}

/* Tabla de datos */
.tabla-datos {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    gap: 0;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    padding-bottom: 0.5rem;
}

.tabla-datos .row strong {
    color: #0e3d4b;
    font-size: 0.9rem;
    font-weight: bold;
}

.tabla-datos .row b {
    color: #000000;
    font-size: 0.9rem;
    font-weight: 400;
}

.row {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.05rem solid #0e3d4b;
    padding: 0 0;
    margin-bottom: 0;

}

.row:last-child {
    border-bottom: none;
}

.celda {
    width: 48%;
    font-size: 0.9rem;
    line-height: 1.2;
    background-color: #ffffff00;
    padding: 0.1rem;
}

.celda-2 {
    width: 40%;
    font-size: 0.9rem;
    line-height: 1.2;
    background-color: #ffffff00;
    padding: 0.1rem;
}

.celda-3 {
    width: 56%;
    font-size: 0.9rem;
    line-height: 1.2;
    background-color: #ffffff00;
    padding: 0.1rem;
}

.celda-1 {
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.2;
    background-color: #ffffff00;
    padding: 0.1rem;
    margin: 0;
}

.celda-id {
    width: 16%;

}

.celda-cliente {
    width: 84%;
    text-align: center;
}

.estado-vencimiento {
    margin-top: 0.1rem;
    background-color: #0e3d4b;
    font-weight: bold;
    text-align: center;
    padding: 0.3rem;
    border-radius: 1.5rem;
    font-size: 1.3rem;
    color: #ffffff;
    text-shadow: 0 0 0.5px #00000050;
}