.extintor-page {
    width: 100%;
    height: 100vh;
    background-color: #e0e6e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extintor-page__container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.scroll-list__wrp {
    height: 540px;
    width: 390px;
    margin-top: 0.5rem;
    margin-left: 1rem;
    overflow-y: scroll;
    background: transparent;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem;
}

.search-wrapper {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 100%;
    max-width: 18rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: transparent;
}

.card-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-search {
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

@media (max-width: 400px) {
    .btn-eliminar-multiple {
        font-size: 12px;
        padding: 0.5rem 1rem;
    }
}