.form-page {
    width: 100%;
    height: 100%;
    background-color: #e0e6e7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-extintor-card {
    width: 18.2rem;
    height: 24rem;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 1.5rem;
    box-shadow: 8px 8px 13px #00000027, -8px -8px 13px #85828227;
    overflow: hidden;
}

/* Header */
.card-header {
    background-color: #0e3d4b;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.6rem;
    padding-left: 0.8rem;
    height: 2.8rem;
}

.card-header h3 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    text-shadow: 0 0 0.5px #00000050;
}

/* Grid */
.form-grid {
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
    row-gap: 0.2rem;
    padding: 0 0.2rem;
    margin: 0;
}

.fila-id-cliente {
    display: grid;
    grid-template-columns: 29% 69%;
    column-gap: 2%;
    row-gap: 0.2rem;
    padding: 0 0.2rem;
    margin: 0;
}

.fila-material-sector {
    display: grid;
    grid-template-columns: 39% 59%;
    column-gap: 2%;
    row-gap: 0.2rem;
    padding: 0 0.2rem;
    margin: 0;
}

.form-grid input,
.form-grid select,
.fila-id-cliente input,
.fila-id-cliente select,
.fila-material-sector input,
.fila-material-sector select {
    background: transparent;
    border: 0;
    border-bottom: 0.05rem solid #0e3d4b;
    color: #0e3d4b;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    text-shadow: 0 0 0.5px #00000050;
}

.fila-id-cliente input,
.form-grid input,
.fila-material-sector input {
    margin-top: 2px;
}

.form-grid input::placeholder,
.fila-id-cliente input::placeholder,
.fila-material-sector input::placeholder {
.fila-id-cliente input::placeholder {
    color: #0e3d4b;
    opacity: 100;
}

.full-width {
    grid-column: 1 / -1;
}


/* Footer */
.card-footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 0.2rem;
    gap: 0.1rem;
    padding: 0;
    box-sizing: border-box;
}

.card-footer button {
    width: 45%;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    text-shadow: 0 0 0.5px #00000050;
}

.card-footer .cancelar {
    background-color: #d9534f;
    color: #ffffff;
}

.card-footer .cancelar:hover {
    background-color: #c9302c;
}

.card-footer .aceptar {
    background-color: #16576b;
    color: #ffffff;
}

.card-footer .aceptar:hover {
    background-color: #0e3d4b;
}
